node_modules
package-lock.json

# local env files
.env.development
.env.production

# Editor directories and files
.vscode

#Other files
vue-app/dist
controllers/config/tokenSpotify.json
controllers/config/credentials.json
start.sh
deploy.sh

*.log